body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0 auto;
}
.hedaerdiv{
    overflow: hidden;
    text-align: center;
    border: 1px solid rgb(231, 240, 248);  
    background-color:rgb(231, 240, 248);  
    padding:10px;  
    border-radius:5px;  
}
a{  
    text-decoration: none;  
    color: blue;  
    font-size: 20px;  
    padding: 8px;  
}  
a:hover{  
    color: green;  
}  
h3{
    color: rgb(167, 25, 25);
}
iframe{
    border: none;
    text-align: justify;
    margin-left: 20px;
    
}
fieldset{
    width: 400px;
}
.permain{
    display:flex;
    justify-content: center;
}
table,th,td,tr{
    border: 1px solid red;
    border-collapse: collapse;
}
#rating{
    color: green;
}