
body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0 auto;
}
.hedaerdiv{
    overflow: hidden;
    text-align: center;
    border: 1px solid rgb(231, 240, 248);  
    background-color:rgb(231, 240, 248);  
    padding:10px;  
    border-radius:5px;  
    color: black;
    font-weight: 700;
    text-shadow:2px 2px 5px #c536c5;

}
.hedaerdiv a:hover{
text-decoration: underline;
}
.hedaerdiv a i{
    margin-right: 10px;
    font-size: 25px;
}
.hedaerdiv a span{
    font-style: italic;
}
a{  
    text-decoration: none;  
    color:black;  
    font-size: 20px;  
    padding: 8px;  
    margin-right: 50px;
}  
a:hover{  
    color:  green;  
}  
h3{
    color: rgb(167, 25, 25);
}
iframe{
    border: none;
    text-align: justify;
    margin-left: 20px;
    
}
fieldset{
    width: 400px;
}
.home_lists{
    list-style: none;
    font-family: 'Lato', sans-serif;
    
  }

      .home_lists li {
      
        margin-bottom: 10px;
        padding-left: 1.5em;
        position: relative;
      }
      .home_lists li:after{
        content: "";
            width: 0;
            height: 0;
            position: absolute;
            display: block;
            border-top: 5px solid transparent;
            border-left: 25px solid rgb(129, 37, 37);
            border-bottom: 5px solid transparent;
            top: 0.25em;
            left: 0;
        } 
        .home_lists li span{
            margin-left: 10px;
        }
        .home_lists li span::selection{
            background: #3ef0e1;
        }

.permain{
    display:flex;
    justify-content: center;
}
table,th,td,tr{
    border: 1px solid red;
    border-collapse: collapse;
    padding: 10px;
}
#rating{
    color: green;
}
dl .dd_lists{
    margin-top: 10px;
}
.edu{
    margin-left: 10px;
}
.edu_detail{
    font-size: large;
    font-weight: bold;
}
.edu_li li{
    margin-top: 10px;
}
/*BUTTONS*/
.btn{
    font-size:large;
    padding: 5px;
    width: 170px;
    text-align: center;
    border: 2px solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
    margin-top: 20px;
    margin-left: 80px;
    box-shadow: 0 6px 26px 0 rgba(86,185,235,0.5);

}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 6px 26px 0 rgba(86,185,235,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
footer .followme_label{
    font-size: 28px;
    font-weight: bolder;
    color: rgb(167, 25, 25);
    margin-right:15px;
}
.footer_font_icon{
    color: cornflowerblue;
    border-radius: 50%;
}